<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>logshubsearch</name>
	<displayName><![CDATA[LogsHub.com Search]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Turn your search box into next level.]]></description>
	<author><![CDATA[LogsHub.com]]></author>
	<tab><![CDATA[search_filter]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
